body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic", serif;
    color: #0f1e7c;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

input {
    width: 250px;
    height: 40px;
    margin: 10px;
    border: 1px solid #0f1e7c;
}

input[type="submit"] {
    background-color: #0f1e7c;
    color: white;
}

input:not(:last-child):focus {
    outline: none;

    box-shadow: 0 0 5px 1px #41835d;
}

.container a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #0f1e7c;
    margin: 0 20px;
}
 .has-error span {
     color: darkred;
 }